[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:roogus/neovim-config.git
[submodule ".config/alacritty/base16-alacritty"]
	path = .config/alacritty/base16-alacritty
	url = git@github.com:aarowill/base16-alacritty.git
[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule ".config/sway/base16-sway"]
	path = .config/sway/base16-sway
	url = git@github.com:rkubosz/base16-sway.git
[submodule ".config/fzf/base16-fzf"]
	path = .config/fzf/base16-fzf
	url = git@github.com:base16-project/base16-fzf.git
